<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393073135707-d5tupl6ed5b43vus0l8cc6mckfnrfb69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393073135707-d5tupl6ed5b43vus0l8cc6mckfnrfb69</string>
	<key>API_KEY</key>
	<string>AIzaSyA98QORdA06PDrmb4Lg3uTBp-7z6hYOAEM</string>
	<key>GCM_SENDER_ID</key>
	<string>393073135707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.punch.me</string>
	<key>PROJECT_ID</key>
	<string>whatsappbot-gshfsn</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappbot-gshfsn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393073135707:ios:bfea3e425d18b5d3186f7e</string>
	<key>DATABASE_URL</key>
	<string>https://whatsappbot-gshfsn.firebaseio.com</string>
</dict>
</plist>